{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}

{% block sidebar %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        {{ flashMessage }}
    {% endfor %}

    <div class="d-flex justify-content-end ">
        <form action="{{ path('login') }}" method="post">
            <label for="username">Pseudo:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />

            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}

            <button type="submit">login</button>
        </form>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="{{ asset('/') }}" id="navLogo">Tee Nice</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            {#<span class="navbar-toggler-icon"></span>#}
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            <ul class="navbar-nav ">
                <li class="nav-item active ">
                    <a class="nav-link" href="{{ asset('/') }}">Tee du jour <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ asset('/shop') }}">Tee Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tee Vote</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">poses ton Tee</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

