{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}
{% block teeDay %}
{% endblock %}
{% block body %}
<div class="container">
    <h3>récapitulatif des achats: </h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Désignation</th>
                <th scope="col">Visu</th>
                <th scope="col">sex</th>
                <th scope="col">Taille</th>
                <th scope="col">Quatité</th>
                <th scope="col">Prix/Unité ttc</th>
                <th scope="col">Prix total ttc</th>
            </tr>
            </thead>
            {% for key, panier in paniers %}
                {% set produit = produits[key] %}
                <tr>
                    <form class="form_produit" action="{{ path('add_panier_produit_intern', {'id' : produit.id }) }}" method="post">
                        <td scope="row" class="id_produit_{{ produit.id }}" id="{{ produit.id }}">{{ produit.id }}</td>
                        <td>{{ produit.designation }}</td>
                        <td><img src="{{ asset(produit.imageZoomListe.webPath) }}" width="50" alt=""></td>
                        <td class="sex_produit_{{ produit.id }}" id="{{ panier[1] }}">{{ panier[1] }}</td>
                        <td class="taille_produit_{{ produit.id }}" id="{{ panier[2] }}">{{ panier[2]}}</td>
                        <td class="qty" {#onchange="this.form.submit()"#}  id="{{ produit.id }}">
                            {{ panier[3] }}
                        </td>
                        <td>{{ produit.prixVentes  }} € </td>
                        <td>{{ produit.prixVentes * panier[3]  }} €</td>
                    </form>
                </tr>
            {% endfor %}
        </table>
        <table class="table table-striped d-flex justify-content-end">
            <span> A l'adresse: {{ adresse.adresse }} {{ adresse.codePostal }} {{ adresse.ville }} {{ adresse.pays }}</span>
            <tr>
                <th scope="row">Prix Total TTC</th>
                <th scope="row">{{ prix_total }} €</th>
            </tr>
        </table >
    </div>
    <div class="d-flex justify-content-end">

        <a href="{{ path('panier') }}" class="btn btn-danger mr-4" role="button">Revenir au panier</a>
        {#<a href="{{ path('livraison') }}" class="btn btn-primary" role="button" id="#paypal-button">payer</a>#}
        <div id="paypal-button"></div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>
        paypal.Button.render({
            env: 'sandbox', // Or 'sandbox',
            commit: true, // Show a 'Pay Now' button
            locale: 'fr_FR',
            style: {
                color: 'blue',
                shape: 'pill',
                label: 'checkout'
            },
            payment: function(data, actions) {
                return paypal.request.post('{{ path('payment_paypal') }}').then(function(data) {
                    return data.id;
                });
            },
            onAuthorize: function(data, actions) {
                return paypal.request.post('{{ path('payment_paypal_pay') }}', {
                    paymentID: data.paymentID,
                    payerID:   data.payerID
                }).then(function(data) {
                    window.location.replace('{{ path('payment_paypal_pay_success') }}')
                }).catch(function (err) {
                    alert("Une erreur est apparu pendant le paiement.");
                });
            }
        }, '#paypal-button');
    </script>
{% endblock %}
