{% extends 'base.html.twig' %}
{% block node %}
<div class="container boxNode">
    <div class="p-2 bg-secondary text-white mb-0 mw-100 boxBarTop">{{ tee.designation }}<small class="font-italic text-sm"> by {{ tee.fournisseur }}</small></div>
    <div class="row BoxPicture">
        <div class="col-md-4 p-0 m-0">
                <div class="  position-relative">
                    <img class="card-img-top" src="{{ asset(tee.imageHomme.webPath) }}" alt="Card image cap">
                </div>
        </div>
        <div class="col-md-4 p-0 m-0">
            <div class="   position-relative">
                <img class="card-img-top" src="{{ asset(tee.imageFemme.webPath) }}" alt="Card image cap">
            </div>
        </div>
        <div class="col-md-4 p-0 m-0">
            <div class="   position-relative">
                <img class="card-img-top" src="{{ asset(tee.imageZoomItem.webPath) }}" alt="Card image cap">
            </div>
        </div>
    </div>
    <div class="p-2 bg-secondary text-white mb-0 mw-100 d-flex flex-row-reverse boxBarBot justify-content-between">
        <span>{{ tee.prixventes }} €</span>
        <a class="" href=""><span class="rounded">Acheter Maintenant</span></a>
        <span></span>
    </div>
</div>
{% endblock %}
